RewriteEngine On
# turn on the mod_rewrite engine

RewriteCond %{REQUEST_FILENAME}.php -f
# if the requested filename with .php extension exists

RewriteCond %{REQUEST_URI} !/$
# and the request is not for a directory

RewriteRule (.*) $1\\.php [L]
# redirect to the php script with the requested filename

