<div class="btn-top" id="back-to-top">
	<a href="#"><span class="fa fa-chevron-up" title="Click to return on the top page"></span></a>
</div>	

	<footer class="footer">
		<p>Copyright © 2017<script>if( (new Date()).getFullYear() != 2017) document.write(' - '+ (new Date()).getFullYear() )</script> Aleksandra Orlova</p>
		<p>akad.alex@gmail.com</p>
	</footer>
	<script src="../../assets/vendors/jQuery/jquery-3.1.1.min.js"></script>
	<script src="../../assets/custom/js/blog.min.js"></script>
</body>
</html>