.logo-holder{
  font-size:30px;
  cursor: pointer;
}

.logo-holder h3{
  color: red;
  font-family: 'Courgette', cursive;
  font-size:40px;
  line-height: 1;

}
.logo-holder h3 div{
  font-size:30px;
  color: white;
  font-family: 'Zilla Slab',serif;
  max-width:0;
  overflow: hidden;
  transition: max-width 0.5s ease;
  line-height: 1.5;
}

.sub-header{
  font-weight: 300;
  text-transform: uppercase;
}

.logo-holder:hover h3 div{
  max-width: 1000px;
  line-height: 1.5;
}

.features{
  padding: 50px 0;
}
.features .card h4{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.features .card{
  font-size:14px;
  font-weight: 400;
  border: 0px;
  padding: 40px;
}

.qa{
  font-size: 16px;
}

.qa .question{
  padding: 15px 10px;
  margin-top: 10px;
  border-radius: 5px;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Kalam', cursive;
}

.qa .answer{
  padding: 10px;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  border-radius: 5px;
}
