.header .navbar{
  margin-bottom: 10vh;
}

.logo-holder{
  font-size:30px;
  cursor: pointer;
}

.logo-holder h3{
  color: #FFC107;
  font-family: 'Courgette', cursive;
  font-size:40px;
  line-height: 1;

}
.logo-holder h3 div{
  font-size:30px;
  color: white;
  font-family: 'Zilla Slab',serif;
  max-width:0;
  overflow: hidden;
  transition: max-width 0.5s ease;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .logo-holder h3{
    font-size:30px;
    line-height: 1;

  }
  .logo-holder h3 div{
    font-size:20px;
    line-height: 1.5;
  }
}

/* h3, h4 { color: #45467b; } */
h3,h4{ color: #5a5b9e; }

.bg-main{ background: #5e5ea5; }

.sub-header{
  font-weight: 300;
  font-size: 14px;
}

.logo-holder:hover h3 div{
  max-width: 1000px;
  line-height: 1.5;
}

.features{
  padding: 50px 0;
}

.features .card{
  font-size:15px;
  font-weight: 100;
  overflow: hidden;
  border: 3px solid #f8f9fa;
  /* outline: 1px dotted #5a5b9e; */

  /* -webkit-box-shadow: 0 0 3px rgba(50,54,59,0.2) !important;
  box-shadow: 0 0 3px rgba(50,54,59,0.2) !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; */
}


/* .features .col-12:nth-of-type(2),
.features .col-12:nth-of-type(5){
  border: 1px dashed #5a5b9e;
}

.features .col-12:nth-of-type(2){
  border-top:0;
}
.features .col-12:nth-of-type(5){
  border-top:0;
  border-bottom:0;
}

.features .col-12:nth-of-type(1),
.features .col-12:nth-of-type(3){
  border-bottom: 1px dashed #5a5b9e; */
}


.features .card h4{
  font-size: 18px;
  text-align: left !important;
  color: #45467b;
  text-transform: uppercase;
}


/* .features .card:hover{
  border: 2px dotted #45467b;
  -webkit-box-shadow: 0 10px 25px rgba(50,54,59,0.2) !important;
    box-shadow: 0 10px 25px rgba(50,54,59,0.2) !important;
} */

/* .features .card:before{
  position: absolute;
  top: -42px;
  left: -100px;
  z-index: 0;
  content: " ";
  width: 230px;
  height: 100px;
  transform: rotate(-40deg);
  border-radius: 0;
  background: #a0a1d221;
} */

.features .card .icon{
  color:#5a5b9e;
  margin-top: 25px;
  margin-left: auto;
  margin-right:20px;
  font-size: 2.3em;
}

.features .card>div{
  padding: 40px; padding-top: 5px;
}

.qa{
  font-size: 16px;
}

.qa .question{
  padding: 15px 10px;
  margin-top: 10px;
  border-radius: 5px;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Kalam', cursive;
}

.qa .answer{
  padding: 10px;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  border-radius: 5px;
}

.act {
  padding: 55px 0 20px 0;
  background: #5e5ea5;
  background: linear-gradient(to right,#8e54e9,#4776e6);
}
.act h2{
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: normal;
}

.act a.btn-act{
  color: #5d5ea4;
  border-color: #FFC107;
  background: #FFC107;
  border-radius: 25px;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.act a.btn-act:hover{
  border-color: #FF9800;
  background: #FF9800;
}
