<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head" . }}
</head>
<body>
  {{ partial "header" . }}
  <section class="main container">
    <div class="">
      <span>{{dateFormat "Jan 2, 2006" .Date}}</span>
      {{ if .Params.tags }} |
       {{range .Params.tags}}
         <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
       {{end}}
      {{end}}
    </div>

    <div class="article pt-1">
      <hr>
      {{.Content}}
      <hr>
    </div>

    <span class="mt-1"><a href="{{.Site.BaseURL}}/post/" class="btn"> <i class="fa fa-long-arrow-left"></i> Back to blog</a></span>
  </section>

  {{ partial "footer" . }}
</body>
</html>
