/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
*/
@font-face {
    font-family: 'Open Sans';
    src: url('../../vendors/Open_Sans/OpenSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../../vendors/Open_Sans/OpenSans-Regular.ttf');
    font-weight: 400;
}

html, body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #555;
}

.header{		
	overflow: hidden;
	background-color: #5e5ea5;	
    color: white;
    letter-spacing: 0.3em;
    font-family: monospace;
    text-transform: uppercase;
    padding-bottom:40px;  
}

.header .navbar{
	margin-bottom: 15vh;
}
.header .navbar a{
	color: white;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 15px;
}

.header .navbar a:hover{
	background-color: #5e5ea5;
	border-bottom: 1px solid white;
}

.header h1,
.header h2,
.header h3{
	margin: 5px;
}

.header .typing{
	font-size: 20px;
    margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	width:17em;
	animation: 
	    typing 2.2s steps(18, end),
	    blinkTextCursor 0.75 steps(18) 5s;
	animation-delay:1s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0;  }
  to { width: 18em }
}

/* The typewriter cursor effect */
@keyframes blinkTextCursor{
  from{ border-right: 1px solid orange;}
  to{ border-right: transparent;}
}
.header .viewmore{
	color: #fff;
}
.viewmore,
a.viewmore:visited{	
	font-size: 40px;
}
a.viewmore:hover{
	color: #343434;
}

.blog-header{
	cursor: pointer;
}
.main{
	padding:20px 10px;
	font-size: 18px;
	max-width:750px;
}
.article{
	margin-bottom:50px;	
}

.article-header{
	font-size: 2.8rem;
	font-weight: 400;
	color:#333;
}
.article-header:hover{
	text-decoration: none;
}

.article .more{		
	color:#5e5ea5;
	border-bottom: 1px #5e5ea5 dotted;
	text-decoration: none;
}
.article .more:hover{
	text-decoration: none;
}

.article {
	margin-top:10px;
	font-weight: 300;
	text-align: justify;
}

.article ol{
	padding-left: 20px;
}

.article code{
	color: #1d2863;
    background-color: #f3f2f9;
}
.article .gif_source{
	border: 1px solid #d8d8d8;
	margin: 20px auto;
}

table.example,
table.roles{	
	text-align: center;
	font-size: 12px;
	margin: 5px;
}

table.example tr:first-child{
	background-color: #dedede;
}
table.example tr:last-child{
	color: green;
}

table.example tr:nth-child(odd){
	background-color: #eee;
}
table.example td,
table.roles td{
	border: 3px solid #ddd;
	padding:5px 25px;
}

.btn-top{
	border:1px solid #ccc;
	border-radius: 50%;
	color: #FFF;
	font-size: 30px;
	background-color: #ddd;
	opacity: .7;
	position: fixed;
	bottom: 130px;
	right: 30px;
	width: 60px;
	height: 60px;
	padding-left:15px;
	padding-top:5px;
	display: none;
	cursor: pointer;
}

.btn-top a{
	color:#FFF;
	text-decoration: none;	
}


.footer{
	height: 100px;
    clear: both;
    padding: 10px;
    width: 100%;
    background-color: #4a4a4a;
    color: #d6d6d6;
    text-align: center;
}


.footer{
	height: 80px;
    clear: both;
    padding: 15px;
    width: 100%;
    background-color: #4a4a4a;
    color: #d6d6d6;
    text-align: center;
}