<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "template-head" . }}
  <link id="color" rel="stylesheet" href="{{.Site.BaseURL}}/templates/main.css">
</head>
<body>
  <header class="header">

  </header>

  <div class="container">
    <div class="row">Choose template:</div>
    <div class="row">
      {{ range .Pages }}
      <div class="p-4">
        <a href="{{.Permalink}}" class="">
          <img src="../../templates-img/display.png" width="270px" alt={{.Title}}>
          <figcaption class="text-center">
            <small class="text-muted">{{.Title}}</small>
          </figcaption>
        </a>
      </div>
      {{end}}
    </div>
  </div>

</body>
</html>
