<header class="header">

  <nav class="navbar" role="navigator">
    <div class="container-fluid">
      <ul class="nav ml-auto pt-3">
        <li class="active"><a href="{{.Site.BaseURL}}">About me</a></li>
        <li><a href="{{.Site.BaseURL}}/post/">Blog</a></li>
        <li><a href="{{.Site.BaseURL}}/services/">Services</a></li>
      </ul>
    </div>
  </nav>


  <div class="container text-center" onclick="location.href='{{.Site.BaseURL}}/post/'">
    <h1>All about Web</h1>
    <h4 class="typing">Javascript, HTML, CSS</h4>
  </div>
</header>
