<div class="p-3 bg-light">
  <div class="row">
    <span><i>Please, adjust your preferences:</i></span>
    <div class="col-4">
      <div class="color-switcher row mx-2">
          <span>Color scheme: </span>
          <div class="switcher" href="lightblue.css" style="background-color: #1c7dd5"></div>
          <div class="switcher" href="red.css" style="background-color: #b80405"></div>
          <div class="switcher active" href="orange.css" style="background-color: #d44500"></div>
          <div class="switcher" href="green.css" style="background-color: #057a4e"></div>
          <div class="switcher" href="green2.css" style="background-color: #4d7d07"></div>
          <div class="switcher" href="blue.css" style="background-color: #172d66"></div>
          <div class="switcher" href="violet.css" style="background-color: #460e29"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="mx-2">
        <span>Font: </span>
        <select class="font-switcher ml-2">
          <option value="'Nunito', sans-serif" selected>Basic</option>
          <option value="'Lato', sans-serif">Light</option>
          <option value="'Playfair Display', serif">Formal Display</option>
          <option value="'Merriweather', serif">Formal soft</option>
          <!-- <option value="'Alegreya SC', serif">Formal </option> -->
          <option value="'BioRhyme', serif">Playful Techno</option>
          <option value="'Lemonada', cursive">Decorative</option>
        </select>
      </div>
    </div>

  </div>
</div>
