<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head" . }}
</head>
<body>
  <header class="header">
		<nav class="navbar" role="navigator">
			<div class="container-fluid">
				<ul class="nav ml-auto pt-3">
					<li class="active"><a href="#about" class='slide'>About me</a></li>
					<li><a href="post/">Blog</a></li>
				</ul>
			</div>
		</nav>

		<div class="container text-center header-names">
			<h1>Aleksandra Orlova</h1>
			<h2 class="typing">Web Developer</h2>

			<section class="buttons">
				<a href="https://github.com/alexkad" target="_blank">
    				<span class="fab fa-github"></span>
	    		</a>
	    		<a href="https://www.linkedin.com/in/alex-orlova-kadushkina/" target="_blank">
	    			<span class="fab fa-linkedin-in"></span>
	    		</a>
			</section>

			<a href="#about" class="viewmore slide"><span class="ion-ios-arrow-down"> </span></a>
		</div>
	</header>

  <section id="about" class="about">
		<div class="container py-4">
			<div class="row pt-5">
				<div class="col-md-6 col-sm-12 col-xs-12 text-justify">
					<h2>Hello,</h2>
					<p> My name is Aleksandra Orlova, I am a web developer. I originate from Russia, and am currently living in Silicon Valley, California, USA. </p>
					<p>I have been in Software Development for over 8 years. Web Development is my biggest passion. It's so exciting to research, develop, learn and improve something everyday!</p>
					<p>I have completed Computer Science studies at the National Research University in Saratov, Russia.
            I always try to find new ways to refine my skills. I participate in training courses as a student
            and as a teacher to further my education. I read professional books, articles and continuously test
            new technologies. I am driven, organized, self managed and always pushing myself to excel.</p>
				</div>
				<div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-2">
				  <img class="img-fluid img-bck rounded-circle" alt="" width="400px" src="{{.Site.BaseURL}}/custom/img/73.jpg">
			  </div>
      </div>
		</div>
	</section>

	<section id="skills" class="skills">
		<div class="container py-5">
			<h2>My skills</h2>
			<div class="row py-4">
				<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
					<!-- <small class="text-muted"><i>* this list is not exhaustive</i></small> -->
					<ul class="skillset">
						<li>
							JavaScript
							<div class="custom-progressbar">
							  <div class="progress-value" style="width:99%"></div>
							</div>
						</li>
						<li>HTML/HTML5
							<div class="custom-progressbar">
							  <div class="progress-value" style="width:95%"></div>
							</div>
						</li>
						<li>React
							<div class="custom-progressbar">
							  <div class="progress-value" style="width:85%"></div>
							</div>
						</li>
						<li>CSS/CSS3
							<div class="custom-progressbar">
							  <div class="progress-value" style="width:85%"></div>
							</div>
						</li>
						<li>Bootstrap
							<div class="custom-progressbar">
							  <div class="progress-value" style="width:85%"></div>
							</div>
						</li>
						<li>C#
							<div class="custom-progressbar">
							  <div class="progress-value" style="width:50%"></div>
							</div>
						</li>
						<li>Angular
							<div class="custom-progressbar">
							  <div class="progress-value" style="width:35%"></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offfset-1 col-xs-10 col-xs-offset-1">
					<ul class="statements">
						<li>Proven background successfully working with all facets of web development from <span class="highlighted">initial design</span> and prototyping to <span class="highlighted">bug fixing</span> and hotfixes</li>
						<li>Oriented on code <span class="highlighted">quality</span> and good <span class="highlighted">performance</span></li>
						<li>Demonstrated ability to complete projects in deadline-oriented environments and <span class="highlighted">efficiently collaborate</span> with teammates</li>
						<li>Always <span class="highlighted">positive</span>, regardless of the challenge ahead</li>
						<li>Confidient, friendly and easy to get along with</li>
					</ul>
					<div class="resume-links" style="display:none;">
						<a href="{{.Site.BaseURL}}/custom/sources/resume.docx">Download CV docx</a><br/>
						<a href="{{.Site.BaseURL}}/custom/sources/resume.pdf" target="_blank">Download CV pdf</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="experience" class="experience">
		<div class="container py-4">
			<h2>Experience</h2>
			<div class="row justify-content-center">
				<div class="col-10 col-md-8">
					<p><i><small>Currently I'm on maternity leave. I'm still working on small projects
						and participating in meetups, but not available for hiring.</small></i></p>
				</div>
			</div>
			<div class="row experience-tree">
				<div class="col-sm-12">
					<div class="step step-5">
						<div data-toggle="collapse" data-target="#nml-sen">
							NMLStream Senior Software Engineer<br />
							Jul 2017 - May 2019<br />
						</div>
						<div id="nml-sen" class="collapse description">
							<ul>
								<li>Created <a href="https://nmlstream.com/" target="_blank">a brand new web site</a> using google cloud and firebase</li>
								<li>Develop an application using Meteor, React and MongoDB</li>
							</ul>
						</div>
					</div>
					<div class="step step-4">
						<div data-toggle="collapse" data-target="#epam-sen">
							EPAM SYSTEMS Senior Software Engineer<br />
							iPreo Project<br />
							Jan 2014 - Dec 2016<br />
						</div>
						<div id="epam-sen" class="collapse description">
							<ul>
								<li>Created a web portal with powerfull and custom javascript engine;</li>
								<li>Made significant optimization with js and css minification, code cleaning and removed unnecessary slow libraries. Speed up application loading from 2s to 0.7s;</li>
								<li>Added Gulp tasks and Eslint rules to automate and control code quality;</li>
							</ul>

						</div>
					</div>
					<div class="step step-3">
						<div data-toggle="collapse" data-target="#epam-eng">
							EPAM SYSTEMS Software Engineer<br/>
							iLevel Project</br>
							Apr 2012 - Jan 2014</br>
						</div>
						<div id="epam-eng" class="collapse description">
							<ul>
								<li>Created <a href="http://pcm.ipreo.com" target="_blank">a brand new site on Kentico CMS</a> from scratch;</li>
								<li>Leaded creating a new platform for customer's clients on Salesforce;</li>
							</ul>
						</div>
					</div>
					<div class="step step-2">
						<div data-toggle="collapse" data-target="#epam-jun">
							EPAM SYSTEMS Junior Software Engineer</br>
							iLevel Project</br>
							Feb 2012 - Apr 2012
						</div>
						<div id="epam-jun" class="collapse description">
							<p>Prototyped early versions of the web portal using SQL, C#, Ext.NET and Ext.js;</p>
						</div>
					</div>
					<div class="step step-1">
						<p>
							National Research Saratov State University</br>
							MS in Computer Science and IT<br/>
							Feb 2013</br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <section id="projects" class="projects">
		<div class="container py-4">
			<h2>Recent Projects</h2>
			<div class="row">
				<div class="block col-12 col-md-6 p-4">
					<a href="http://nulifeyoga.com/" target="_blank">
						<img src="assets/custom/img/nulife.png" alt="" class="img-fluid py-4">
					</a>
					<h5>NuLife Yoga Studio</h5>
				</div>
				<div class="block col-12 col-md-6 p-4">
					<a href="http://www.yellowbrick.consulting/" target="_blank">
						<img src="assets/custom/img/yellowbrick.png" alt="" class="img-fluid py-4">
					</a>
					<h5>Yellowbrick Consulting</h5>
				</div>
			</div>
		</div>
	</section> -->


  {{ partial "footer" . }}
</body>
</html>
