.color-switcher{

}

.switcher{
  margin: 5px 3px;
  width:15px;
  height: 15px;
  opacity: 0.4;
}
.switcher.active{
  margin-top: 2px;
  width: 22px;
  height:22px;
  opacity: 1;
}


section{
  padding: 80px 0;
}

.main-color{
  color: #17a2b8;
}

.main-bg{
  background-color: #17a2b8;
  color: white;
}

/* .compl-color{
  color:
} */

footer{
  background-color: #545454;
  color: white;
}

footer .author{
  background: #353535;
  color: #c5c5c5;
  padding-top: 10px;
}

footer .author a{
  font-family: 'Courgette', cursive;
  font-size:18px;
}
