
<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head" . }}


  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Roboto:100&display=swap" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/vendors/fa5/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/vendors/fa5/css/brands.min.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}/custom/css/services.css?v=0.234">
</head>
<body>

  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{.Site.BaseURL}}">About me</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{.Site.BaseURL}}/services/">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{.Site.BaseURL}}/post/">Blog</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="logo-holder row mx-auto">
          <h1 class="row">A1<div>eksandra&nbsp;</div>O<div>rlova</div></h1>
        </div>
      </div>
      <div class="row">
        <h2 class="w-100 text-center">Web design &amp; development</h2>
      </div>
    </div>
  </header>

  <section class="features bg-light">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="card h-100">
            <i class="icon fas fa-laptop-code"></i>
            <div>
              <h4 class="text-center">Adaptive layout</h4>
              <p>Your website works perfectly on the desktop as well as laptops and mobile devices.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="card h-100">
             <i class="icon fas fa-tools"></i>
            <div>
              <h4 class="text-center">Complete setup</h4>
              <p>Everything you need from unique domain name to hosting to have your website up and running.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="card h-100">
            <i class="icon fas fa-user-circle"></i>
            <div>
              <h4 class="text-center">UX friendly design</h4>
              <p>Choose  <a href="{{.Site.BaseURL}}/site-templates/">from a variety of templates</a>
                 or request an individual design.
                Use your corporate colors, logos and pictures.
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="card h-100">
            <i class="icon far fa-map"></i>
            <div>
              <h4 class="text-center">Services integration</h4>
              <p class="my-1">To help visitors to stay tuned and keep their interest:</p>
              <ul>
                <li>Mail subscription</li>
                <li>Social media widgets</li>
                <li>Google maps</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="card h-100">
            <i class="icon fas fa-chart-line"></i>
            <div>
              <h4 class="text-center">SEO optimization</h4>
              <p>Basic SEO optimization to help Google's search engine to parse your
                website correctly and improve searching results.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="card h-100">
            <i class="icon far fa-address-card"></i>
            <div>
              <h4 class="text-center">Contact us form</h4>
              <p>An elegant solution to welcome your visitors to interact with you and your company,
                ask questions or request a service without leaving the website.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="act">
    <div class="container">
      <h2 class="text-center text-white">Are you ready to empower your business?</h2>
      <div class="row justify-content-center py-3">
        <a class="btn btn-act" href="https://www.jotform.com/210820801473144" target="_blank">Request a quote</a>
      </div>
    </div>
  </section>

  <section class="projects">
		<div class="container py-4">
			<h2 class="text-center text-uppercase">Recent Projects</h2>
      <div class="row">
        <div class="col-10 col-md-6 mx-auto text-center">
          <p class="sub-header">Please note that current websites may differ from the original view as
            owners might change or remove content. Orignal is an image of the original
            work and not clickable.</p>
        </div>
      </div>
			<div class="row">
				<div class="block col-12 col-md-6 p-4">
          <div class="box">
            <img src="{{.Site.BaseURL}}/custom/img/portfolio/nulife.png" alt="" class="img-fluid border">
            <div class="overlay">
              <ul>
                <li>Full implementation: design, code, hosting</li>
                <li>Static content</li>
                <li>HTML, Booststrap, JS</li>
                <li>Google maps</li>
              </ul>
            </div>
          </div>
					<p><b>NuLife Yoga Studio</b> | <a href="#" data-img="{{.Site.BaseURL}}/custom/img/portfolio/preview/nulife.png" onclick="preview(this)">preview original</a> | <a href="http://nulifeyoga.com/" target="_blank">current website</a></p>
				</div>

        <!-- <div class="block col-12 col-md-6 p-4">
          <div class="box">
            <img src="{{.Site.BaseURL}}/custom/img/portfolio/yellowbrick.png" alt="" class="img-fluid border">
            <div class="overlay">
              <ul>
                <li>Full implementation: design, code, hosting</li>
                <li>Static content</li>
                <li>HTML, Booststrap, JS</li>
                <li>Multilingual</li>
              </ul>
            </div>
          </div>
					<p><b>Yellowbrick Consulting</b> | <a href="http://www.yellowbrick.consulting/" target="_blank">preview website</a></p>
				</div> -->

        <div class="block col-12 col-md-6 p-4">
          <div class="box">
            <img src="{{.Site.BaseURL}}/custom/img/portfolio/olive-bar.png" alt="" class="img-fluid border">
            <div class="overlay">
              <ul>
                <li>Part implementation: 'shop all', 'main' page</li>
                <li>Added responsive(mobile friendly) design for the main page and menu</li>
              </ul>
            </div>
          </div>
					<p><b>Monterey's Tasty Olive Bar</b> | <a href="#" data-img="https://www.montereystastyolivebar.com/shopall" onclick="preview(this)">current website</a></p>
				</div>

        <div class="block col-12 col-md-6 p-4">
          <div class="box">
            <img src="{{.Site.BaseURL}}/custom/img/portfolio/skinnerlawgroup.png" alt="" class="img-fluid border">
            <div class="overlay">
              <ul>
                <li>Full implementation: design, code, hosting</li>
                <li>Hosting on WIX (dynamic content)</li>
                <li>HTML, Booststrap, JS</li>
                <li>Multilingual</li>
              </ul>
            </div>
          </div>
					<p><b>Skinner law group apc</b> | <a href="#" data-img="{{.Site.BaseURL}}/custom/img/portfolio/preview/skinner.png" onclick="preview(this)">preview original</a> | <a href="https://www.skinnerlawgroupca.com/" target="_blank">current website</a></p>
				</div>

        <div class="block col-12 col-md-6 p-4">
          <div class="box">
            <img src="{{.Site.BaseURL}}/custom/img/portfolio/parent-network.png" alt="" class="img-fluid border">
            <div class="overlay">
              <ul>
                <li>Part implementation: pages for downloading books, popup windows</li>
                <li>Hosting on WordPress (dynamic content)</li>
                <li>Mail chimp setup</li>
              </ul>
            </div>
          </div>
					<p><b>The Parent Network</b> | <a href="#" data-img="{{.Site.BaseURL}}/custom/img/portfolio/preview/parent-network.png" onclick="preview(this)">preview original</a> | <a href="https://www.destinationsitters.com/theparentnetwork/ebook-traveling-with-your-kids/" target="_blank">current website</a></p>
				</div>

        <div class="block col-12 col-md-6 p-4">
          <div class="box">
            <img src="{{.Site.BaseURL}}/custom/img/portfolio/yvonne_designers.png" alt="" class="img-fluid border">
            <div class="overlay">
              <ul>
                <li>Full implementation: design, code, hosting</li>
                <li>HTML, Booststrap, JS</li>
              </ul>
            </div>
          </div>
          <p><b>Yvonne Lane &amp; Co. Intuitive interiors</b> | <a href="#" data-img="{{.Site.BaseURL}}/custom/img/portfolio/preview/designers.png" onclick="preview(this)">preview original</a> | <a href="http://yvonnelane.com/" target="_blank">current website</a></p>
        </div>

        <div class="block col-12 col-md-6 p-4">
          <div class="box">
            <img src="{{.Site.BaseURL}}/custom/img/portfolio/sunflowercdc.png" alt="" class="img-fluid border">
            <div class="overlay">
              <ul>
                <li>Part implementation: design, code</li>
                <li>Hosting on WIX (dynamic content)</li>
                <li>Forms, Google maps</li>
              </ul>
            </div>
          </div>
					<p><b>Sunflower CDC</b> | <a href="#" data-img="{{.Site.BaseURL}}/custom/img/portfolio/preview/sunflower.png" onclick="preview(this)">preview original</a> | <a href="https://www.sunflowercdc.com/" target="_blank">current website</a></p>
				</div>

      </div>
		</div>
	</section>

  <section class="reviews">
    <div class="container">
      <h2 class="text-center text-white text-uppercase">Testimonials</h2>
      <div class="row review-box">
        <p><b>Jacob Chomicz, Office Manager<br/> Skinner Law Group</b></p>
        <p><i>Alex is great to work with, she is knowledgeable, creative, thorough and
          dependable. Alex helped our firm create a professional, informative and
          aesthetically pleasing website, as well as the set up of email and more.
          She provided excellent tech support and navigation of the confusing internet
          issues as they arose. Alex is prompt in her responses and delivers her wonderful
          services in a timely manner. We will continue to utilize her services as long as we can!</i></p>
      </div>
      <div class="row review-box">
        <p><b>Yvonne Wonder, Founder & Director of Destination Sitters,<br/> National Hotel Babysitting Service | Children's Book Author</b></p>
        <div>
          <p><i>
            ‘Ridiculously efficient’ is the phrase that comes to mind when I think about Alex.
            I was initially impressed with Alexandra Orlova’s enthusiasm,
            communication skills, and professional demeanor when I hired her for contract work for my company.

            Alex is reliable, dedicated, and eternally upbeat. Her ability to perceive my company's
            needs and implement them is unparalleled, and it is because of her excellence in this
            area that I repeatedly asked her to work on new projects for my company. She consistently
            met or surpassed all of our expectations.

            Alex is organized, diligent, and hardworking. I would recommend her to anyone
            looking for high quality work from an incredibly kind person!</i></p>
        </div>
      </div>
    </div>
  </section>

  <section class="qa">
    <div class="container">
      <h2 class="text-center"> – Q &amp; A – </h2>
      <div class="row">
        <div class="col-10 col-md-6 mx-auto text-center">
          <p class="sub-header">
            The following section will help you to understand the basic information about
            the website development and pricing</p>
        </div>
      </div>

      <div class="question" data-toggle="collapse" href="#beginning">
        <span>Basic information about website and possible expenses</span>
      </div>
      <div id="beginning" class="answer collapse multi-collapse">
        <p>
          <b>To build a website you need the following components:</b>
          <ul>
            <li><b>Domain name</b> - a unique name of your website, the URL that you type in the browser to open a specific website provided by a specific company - registrar. Requires annual payment.</li>
            <li><b>Hosting</b> - your personal server or a hosting company, that provides you a server or a cloud, where a code for your website is located. Requires annual fees for the server maintenance.</li>
            <li><b>Website code or website layout</b> - a machine-readable code, created once by the developer. Requires fees once it's done. Maintenance and changes may require an additional charge.</li>
            <li><b>Third-company apps and services</b> If you would like to add specific services to your website, e.g. email subscription, online scheduling, PayPal, or other payment systems they may require additional fees.</li>
          </ul>
        </p>
      </div>

      <div class="question" data-toggle="collapse" href="#domainname">
        <span>How to get a domain name?</span>
      </div>
      <div id="domainname" class="answer collapse multi-collapse">
        <p><b>What is a domain name?</b></p>
        <p>A domain name is a unique name of your website, the URL that you type in the browser to open a specific website. E.g., google.com or nordstrom.com, or montereystastyolivebar.com. A good practice for a great domain name is to be short, clear, and easy to remember.</p>
        <p><b>Domain name registrars & payments</b></p>
        <p>You can check if the desired domain name is available and buy it at the
          specific providers called registrars: e.g. <a href="https://www.namecheap.com/domains/" target="_blank">NameCheap</a>,
          <a href="https://www.bluehost.com/domains" target="_blank">Bluehost</a>,
          <a href="https://www.networksolutions.com/domain-name-registration/index.jsp" target="_blank">Network solutions</a>,
          <a href="https://www.godaddy.com/domains" target="_blank">GoDaddy</a>. There are many different registrars, and they offer domains
          at different pricing and different levels of customer support. <a href="https://www.dreamhost.com/blog/hidden-costs-of-cheap-domains/" target="_blank">
            Here is a good article about possible drawbacks.</a>
         </p>
        <p><b>WHOIS and keeping data private</b></p>
        <p><a href="https://www.whois.com/" target="_blank">WHOIS</a> is an online public database that allows you to look up certain contact information about an individual,
           business, or organization that registers a domain. Since each and every new domain must be
           registered with WHOIS, you must fill out the appropriate information needed before your domain is
           officially registered. You might want to keep this information private and hide it. It's possible to do this with 'WHOIS domain privacy' -
           an additional option provided by your domain registrar. Some domain registrars will charge for this option additional, others provide it for free.</p>
      </div>

      <div class="question" data-toggle="collapse" href="#hosting">
        <span>How to choose the right hosting?</span>
      </div>
      <div id="hosting" class="answer collapse multi-collapse">

        <p>The website content can be static or dynamic. Static content is commonly used for a single landing page and usually contains information about your business or personal brand.
        There can be a portfolio, business info, working hours, location, contact us form, or other business-related information that wouldn't change frequently. In some cases, you still
        can place a schedule, payment info, and some third-party tools.</p>

        <ul>
          <li class="text-success">Freedom for developer to implement features</li>
          <li class="text-success">Ability to fully adapt website to different browsers and devices</li>
          <li class="text-success">Friendly pricing</li>
          <li class="text-danger">Requires professional help or specific knowldge to update the content</li>
        </ul>


        <p>In case you would like to have a website with dynamic content, like recent news, blog posts, or any other information that can be easily changed you might want to consider
          hosting with website builders or CMS(content management system). Website builders, like <a href="https://wix.com" target="_blank">Wix</a> or <a href="https://wordpress.com" target="_blank">WordPress</a>, provide tools for non-technical
          users to create or maintain their websites.
          Usually, it's more expensive than static hosting and the price will grow if you would like to add some features, like forms, or picture gallery, or third-party app.
          Also though these website builders are very powerful they still have some limitations. There are might be some issues with the mobile view or hard-to-fix bugs with different browsers.
          But you can easily add, remove or edit text, pictures and even page layout without any special technical knowledge. Once the developer sets up everything for you, you would be ready to fully
          take control of the website and its content.
          <ul>
            <li class="text-success">Freedom for website owner to add/remove/update content without developer or special knowledge</li>
            <li class="text-success">Variety of templates and user-friendly controls</li>
            <li class="text-success">Potential issues with mobile view</li>
            <li class="text-danger">Price is usually high</li>
          </ul>
        </p>

      </div>

      <!-- <div class="question" data-toggle="collapse" href="#addcontent">
        <span>Third-party content</span>
      </div>
      <div id="addcontent" class="answer collapse multi-collapse">
        <p>Mailchimp and mail subscription</p>
        <p>Jotform</p>
        <p>Booking & scheduling services</p>
        <p>Paypal</p>
        <p>Google maps</p>
      </div> -->
    </div>
  </section>



  <!-- <section class="services">
    <div class="container my-5">
      <div class="row row-eq-height justify-content-md-center">
        <div class="col-12 col-md-4">
          <div class="card p-2 h-100">
            <h4 class="text-center">Landing page</h4>
            <p>1 page &amp; up to 5 sections</p>
            <p>Excellent solution for the portfolio or small business.</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card p-2 h-100">
            <h4 class="text-center">Business website</h4>
            <p>Up to 5 different pages</p>
            <p>Best for the business that provides a variety of services.
              May include gallery, detailed description of services and products, booking service and many other.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  {{ partial "footer" . }}
</body>
</html>
