
<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head" . }}

  <link rel="stylesheet" href="{{.Site.BaseURL}}/custom/css/services.css?v=0.22">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Roboto:100&display=swap" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/vendors/fa5/css/fontawesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}/vendors/fa5/css/brands.min.css">

</head>
<body>

  <header class="header">
		<nav class="navbar" role="navigator">
			<div class="container-fluid">
          <ul class="nav ml-auto pt-3">
  					<li class="active"><a href="{{.Site.BaseURL}}">About me</a></li>
            <li><a href="{{.Site.BaseURL}}/services/">Services</a></li>
  					<li><a href="{{.Site.BaseURL}}/post/">Blog</a></li>
  				</ul>
			</div>
		</nav>

    <div class="container">
      <div class="row w-100">
        <div class="logo-holder row mx-auto">
          <h3 class="row">A1<div>eksandra&nbsp;</div>O<div>rlova</div></h3>
        </div>
      </div>
      <div class="row w-100">
        <h5 class="w-100 text-center">Web design &amp; development</h5>
      </div>
    </div>
  </header>

  <section class="features bg-light">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <i class="icon fas fa-laptop-code"></i>
            <div>
              <h4 class="text-center">Adaptive layout</h4>
              <p>Your website works perfectly on the desktop as well as laptops and mobile devices.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card h-100">
             <i class="icon fas fa-tools"></i>
            <div>
              <h4 class="text-center">Complete setup</h4>
              <p>Everything you need from unique domain name to hosting to have your website up and running.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <i class="icon fas fa-user-circle"></i>
            <div>
              <h4 class="text-center">UX friendly design</h4>
              <p>Choose  <a href="{{.Site.BaseURL}}/templates/">from a variety of templates</a>
                 or request an individual design.
                Use your corporate colors, logos and pictures.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-eq-height my-3">
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <i class="icon far fa-map"></i>
            <div>
              <h4 class="text-center">Services integration</h4>
              <p class="my-1">To help visitors to stay tuned and keep their interest:</p>
              <ul>
                <li>Google maps</li>
                <li>Social media widgets</li>
                <li>Booking and scheduling services</li>
                <li>Mail subscription</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <i class="icon fas fa-chart-line"></i>
            <div>
              <h4 class="text-center">SEO optimization</h4>
              <p>Basic SEO optimization to help Google's search engine to parse your
                website corretly and improve searching results.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <i class="icon far fa-address-card"></i>
            <div>
              <h4 class="text-center">Contact us form</h4>
              <p>An elegant solution to welcome your visitors to interact with you and your company,
                ask questions or request a service without leaving the website.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="qa">
    <div class="container p-5">
      <h3 class="text-center"> – Before you start – </h3>
      <div class="row">
        <div class="col-10 col-md-6 mx-auto text-center">
          <p class="sub-header">I want you to have a nice and smooth experience.<br/>
            The following section will help you to understand the basic information about
            the website development and pricing.</p>
        </div>
      </div>

      <div class="qa">
        <div class="question" data-toggle="collapse" href="#beginning">
          <span>Basic information about website and possible expenses</span>
        </div>
        <div id="beginning" class="answer collapse multi-collapse">
          <p>To build a website you need the following components:</p>
          <ul>
            <li>Domain name</li>
            <li>Hosting</li>
            <li>Website code or website layout</li>
          </ul>
          <p>Domain name and hosting prices</p>
        </div>

        <div class="question" data-toggle="collapse" href="#domainname">
          <span>How to get a domain name?</span>
        </div>
        <div id="domainname" class="answer collapse multi-collapse">
          <p>What is domain name</p>
          <p>Annual payment</p>
          <p>Who is</p>
          <p>Domain name registrars</p>
          <p>Hide personal info</p>
        </div>

        <div class="question" data-toggle="collapse" href="#hosting">
          <span>How to choose the right hosting?</span>
        </div>
        <div id="hosting" class="answer collapse multi-collapse">
          <p>Static hosting and CMS</p>
          <p>Comparison table</p>
          <p>Pricing</p>
        </div>

        <div class="question" data-toggle="collapse" href="#addcontent">
          <span>Third-party content</span>
        </div>
        <div id="addcontent" class="answer collapse multi-collapse">
          <p>Mailchimp and mail subscription</p>
          <p>Booking & scheduling services</p>
          <p>Google maps</p>
        </div>

      </div>

    </div>
  </section>

  <section class="act bg-main">
    <div class="container">
      <h4 class="text-center text-white">Are you ready to empower your business?</h4>
      <div class="row justify-content-md-center py-3">
        <a class="btn btn-outline-light">Request a quote</a>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="container my-5">
      <div class="row row-eq-height justify-content-md-center">
        <div class="col-12 col-md-4">
          <div class="card p-2 h-100">
            <h4 class="text-center">Landing page</h4>
            <p>1 page &amp; up to 5 sections</p>
            <p>Excellent solution for the portfolio or small business.</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card p-2 h-100">
            <h4 class="text-center">Business website</h4>
            <p>Up to 5 different pages</p>
            <p>Best for the business that provides a variety of services.
              May include gallery, detailed description of services and products, booking service and many other.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ partial "footer" . }}
</body>
</html>
