<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "template-head" . }}
  <link id="color" rel="stylesheet" href="{{.Site.BaseURL}}/templates/main.css">
</head>
<body>
  <header class="header">
    {{ partial "template-switcher" . }}

    <nav class="navbar navbar-expand-lg navbar-light my-4">
      <a class="navbar-brand" href="#">
        <!-- <img src="" alt="company logo"> -->
        Company Logo
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#clients">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

    <section class="company main-bg">
      <div class="container">
        <div class="row"></div>
        <div class="row py-5">
          <div class="col-5">
            <h1>Company Name</h1>
            <hr class="bg-white">
            <h4>Simple solution for your business</h4>
          </div>
          <!-- <div class="col-4 text-right mt-4">
            <div class="row">
              <i class="fa fa-phone fa-2x mr-3"></i>
              <h5> (650)999-33-55</h5>
            </div>
            <div class="row">
              <i class="fa fa-envelope-o fa-2x mr-3"></i>
              <h5>service@gmail.com</h5>
            </div> -->

          </div>
        </div>

      </div>
    </section>


    <section class="about" id="about">
      <div class="container">
        <!-- <h3 class="text-center text-uppercase"><span class="text-info">about</span> company</h3>
        <div class="row justify-content-md-center">
          <div class="col-10 col-md-6 text-center">
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Amet totam unde a porro ex vitae quasi, ipsam consequatur repudiandae veritatis!</p>
          </div>
        </div>

        <hr class="bg-info"/> -->

        <div class="row py-5 justify-content-md-center">
          <div class="col-5">
            <h2 class="text-right h-100">
              <b>We find best solutions for your business needs.</b>
            </h2>
          </div>
          <div class="col-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
              dolores, placeat, consectetur dignissimos eum eius aliquid nulla
              esse assumenda asperiores iure pariatur, libero totam veritatis
              obcaecati? Iure odit provident hic, esse ex incidunt, odio,
              vitae quidem et laborum natus similique quis impedit ut dolor
              possimus beatae nihil voluptate ad a deserunt praesentium officiis
              voluptatem. Ut reiciendis accusantium ducimus tenetur accusamus molestias
              porro incidunt fugiat, facilis optio, explicabo eveniet quae eius
              necessitatibus. Adipisci tenetur laborum, consequuntur harum ullam
              atque facilis? Et magnam dolor tenetur odit dolorem ut voluptate
              quibusdam. Autem eaque a at enim eligendi assumenda, illum ducimus
              quam cumque ullam!</p>
          </div>
        </div>
      </div>
    </section>

    <section class="act main-bg">
      <div class="container">
          <h4 class="text-center">Are you looking for quality long live solution for your business?</h4>
          <div class="row justify-content-md-center py-3">
            <button class="btn btn-outline-light">Contact us</button>
          </div>
      </div>
    </section>

    <section id="products" class="products">
      <div class="container-fluid">
        <h3 class="text-center text-uppercase">Our <span class="text-info">Services</span></h3>
        <div class="row h-100 pt-3">
          <div class="col-4">
            <div class="text-center p-3">
              <i class="fa fa-line-chart fa-4x text-info p-3"></i>
              <h5 class="text-uppercase">Fully optimized</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum iure enim nam cumque. Deserunt, ex, praesentium!</p>
            </div>
          </div>
          <div class="col-4">
            <div class="text-center p-3">
              <i class="fa fa-wrench fa-4x text-info p-3"></i>
              <h5 class="text-uppercase">Customer Support</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores libero officia reprehenderit ipsa.</p>
            </div>
          </div>
          <div class="col-4">
            <div class="text-center p-3">
              <i class="fa fa-users fa-4x text-info p-3"></i>
              <h5 class="text-uppercase">Creative solutions</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores libero officia reprehenderit ipsa.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="clients" class="clients bg-light">
      <div class="container-fluid">
          <h3 class="text-center text-uppercase"><span class="text-info">client</span> words</h3>

          <div id="clientsCarousel" class="carousel slide m-3" data-ride="carousel" interval="3000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">

                <div class="row justify-content-md-center">
                  <div class="col-7 bg-white text-center">
                    <div class="p-5 text-center">
                      <h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                        possimus neque dolorem id, nam facilis."</h4>
                      <p class="text-info">Ben Stuart. CEO of the ABC company</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row justify-content-md-center">
                  <div class="col-7 bg-white">
                    <div class="p-5 text-center">
                      <h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Numquam distinctio, ad accusamus. Nisi, tempore repudiandae
                        illum odio cum dignissimos."</h4>
                      <p class="text-info">Adam Reih. VP of Work Well</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row justify-content-md-center">
                  <div class="col-7 bg-white">
                    <div class="p-5 text-center">
                      <h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil velit, est."</h4>
                      <p class="text-info">Marta Alan. VP of engineering @Post</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Left and right controls -->
              <a class="left carousel-control-prev" href="#clientsCarousel" data-slide="prev" role="button">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>

              <ol class="carousel-indicators">
                <li data-target="#clientsCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#clientsCarousel" data-slide-to="1"></li>
                <li data-target="#clientsCarousel" data-slide-to="2"></li>
              </ol>

              <a class="right carousel-control-next" href="#clientsCarousel" data-slide="next" role="button">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>


      </div>
    </section>


    <section class="subscribe main-bg">
      <div class="container">
        <div class="row">
          <div class="col-8 align-self-center">
            <h4 class="text-uppercase">SUBSCRIBE TO OUR WEEKLY <b>NEWSLETTER</b></h4>
          </div>
          <div class="col-4 align-self-center">
            <div class="input-group">
                <input class="form-control color-white" type="email" placeholder="Enter your email...">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="submit">
                    <i class="fa fa-envelope-o"></i>
                  </button>
                </div>
              </div>
          </div>
        </div>


      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3 class="text-uppercase main-color mb-4">Contact us</h3>

            <h5>Location:</h5>
            <p>1840 Benton St, Santa Clara, CA 95050</p>
            <hr/>

            <h5>Phone:</h5>
            <p> (650)999-33-55</p>
            <hr/>

            <h5>Email:</h5>
            <p>service@gmail.com</p>
            <hr/>
          </div>
          <div class="col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.873455515479!2d-121.95803733461005!3d37.34550447983985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fca50fd8dc875%3A0xc670882736190fb0!2s1840%20Benton%20St%2C%20Santa%20Clara%2C%20CA%2095050!5e0!3m2!1sen!2sus!4v1584077991867!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
      </div>
    </section>

  {{ partial "template-footer" . }}

</body>
</html>
